/* game board table */
body{
  background-color: #404040;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#game{
  background-color: #e8f0f6;
  width: 80%;
  min-width: 730px;
  margin: 0 auto;
  padding: 30px 0;
  border-radius: 10px;
}

.game-board{
  margin: 15px auto;
  padding: 30px;
  border: #404040 solid 1px;
  background-color: #e3e2e2;
  border-radius: 15px;
  display: inline-block;
}

input, button{
  padding: 15px;
  margin: 5px;
  border: none;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

button{
  background-color: #6A9A1F;
  color: white;
}

#board td {
  width: 70px;
  height: 70px;
  border: solid 2px #666;
  border-radius: 51%;
  display: inline-flex;
  margin: 5px;
  background-color: rgb(230, 230, 230);
}

.piece {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: .3s ;
}

.player1{
  background-color:#D43F3F;
  border: rgb(131, 0, 0) solid 1px;
  box-shadow: 4px 4px 2px rgb(255, 85, 85) inset, -3px -3px 2px rgba(59, 26, 26, 0.715) inset;
}

.player2{
  background-color: #00ACE9;
  border: rgb(0, 22, 131) solid 1px;
  box-shadow: 4px 4px 2px rgb(85, 173, 255) inset, -3px -3px 2px rgba(28, 26, 59, 0.715) inset;
}

#column-top td {
  border: dashed 2px rgb(143, 143, 143);
}

#column-top td:hover {
  background-color: gold;
}

#board .p1>td:hover{
  background-color: #D43F3F;
}

#board .p2>td:hover{
  background-color: #00ACE9;
}

h1{
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #6A9A1F;
}

/* .colors{
  color: #00ACE9
  #D43F3F
  #6A9A1F
  #F6F6E8
  #404040
  } */